# System files
.DS_Store
Thumbs.db
desktop.ini

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env
.env.*

# Dependencies
node_modules/
vendor/

# Build and logs
dist/
dist-ssr/
build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
